<div id="<%= dom_id exercise_routine %>">
  <p>
    <strong>Name:</strong>
    <%= exercise_routine.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exercise_routine.description %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= exercise_routine.visibility %>
  </p>

  <p>
    <strong>User:</strong>
    <%= exercise_routine.user_id %>
  </p>

</div>
