<%= form_with(model: exercise_routine) do |form| %>
  <% if exercise_routine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise_routine.errors.count, "error") %> prohibited this exercise_routine from being saved:</h2>

      <ul>
        <% exercise_routine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
        <%= form.label :name %>
        <%= form.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="field form-group">
        <%= form.label :description %>
        <%= form.text_field :description, class: "form-control" %>
    </div>
    <br/>
    <div class="field form-group">
        <%= form.label :visibility %>
        <%= form.select :visibility, options_for_select(ExerciseRoutine.visibilities.map {|key, value| [key.titleize, ExerciseRoutine.visibilities.key(value)]}, @exercise_routine.visibility), class: "form-control" %>
    </div>
    <br/>
    <div>
        <%= form.submit class:"btn btn-success" %>
    </div>
<% end %>
