<h1>Exercise Routines</h1>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Exercises</th>
            <th>Shared By</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @exercise_routines.each do |er| %>
            <tr id="<%= dom_id er %>">
                <td><%= link_to er.name, er %></td>
                <td><%= er.description %></td>
                <td><%= er.exercises.size %></td>
                <td><%= er.user.full_name %></td>
                <td><%= button_to "View routine", exercise_routine_path(er), method: :get, class:"btn btn-sm btn-info" %></td>
                <% if er.user == current_user %>
                    <td><%= button_to "Edit routine", edit_exercise_routine_path(er), method: :get, data: { turbo_frame: "general_modal"}, class:"btn btn-sm btn-warning" %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<%= button_to "New exercise routine ", new_exercise_routine_path, method: :get, data: { turbo_frame: "general_modal"}, class:"btn btn-primary" %>
