<div class="row">
    <% @users.each do |user| %>
        <div class="col-sm-4">
            <div class="card">
                <%= image_tag("blank_profile_pic.png") %>
                <div class="card-body">
                    <h5 class="card-title"><%= user.full_name %></h5>
                    <%= button_to "View user", user_path(user), method: :get, class:"btn btn-secondary" %>
                    <% if current_user && current_user.pending_friends.include?(user) %>
                        <%= button_to "Cancel friend request", friendship_path(current_user.get_friendship(user)), method: :delete, class:"btn btn-warning" %>
                    <% elsif current_user && current_user.active_friends.include?(user) %>
                        <%= button_to "Remove friend", friendship_path(current_user.get_friendship(user)), method: :delete, class:"btn btn-danger", form: {data: {turbo_confirm: "Are you sure?"}} %>
                    <% elsif current_user && current_user.received_friends.include?(user) %>
                        <%= button_to "Confirm friend", new_friendship_path, method: :get, params: {friend_id: user.id}, class:"btn btn-success" %>
                    <% else %>
                        <%= button_to "Add Friend", new_friendship_path, method: :get, params: {friend_id: user.id}, class: "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>