<h1>Exercises</h1>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Shared By</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @exercises.each do |exercise| %>
            <tr id="<%= dom_id exercise %>">
                <td><%= link_to exercise.name, exercise %></td>
                <td><%= exercise.description %></td>
                <td><%= exercise.exercise_type.titleize %></td>
                <td><%= exercise.user.full_name %></td>
                <td><%= button_to "Add to Routine", new_exercise_exercise_routine_exercise_path(exercise), method: :get, data: { turbo_frame: "general_modal"}, class:"btn btn-sm btn-info" %></td>
                <% if exercise.user == current_user %>
                    <td><%= button_to "Edit exercise", edit_exercise_path(exercise), method: :get, data: { turbo_frame: "general_modal"}, class:"btn btn-sm btn-warning" %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<%= button_to "New exercise", new_exercise_path, method: :get, data: { turbo_frame: "exercise_modal"}, class:"btn btn-primary" %>
