<div id="<%= dom_id @exercise %>" class="card border-secondary">
    <h4 class="card-header"> <%= @exercise.name %> </h4>
    <div class="card-body">
        <p>
            <strong>Description:</strong>
            <%= @exercise.description %>
        </p>

        <% if @exercise.user == current_user %>
            <p>
                <strong>Visibility:</strong>
                <%= @exercise.visibility.titleize %>
            </p>
        <% end %>

        <p>
            <strong>Type:</strong>
            <%= @exercise.exercise_type.titleize %>
        </p>

        <% if @exercise.user == current_user %>
            <p>You created this exercise </p>
        <% else %>
            <p>
                <strong>Shared by:</strong>
                <%= @exercise.user.full_name %>
            </p>
        <% end %>

        </div>
        <div class="btn-toolbar">
            <div class="btn-group me-3">
            </div>
            <div class="btn-group">
                <% if @exercise.user == current_user %>
                    <%= button_to "Edit exercise", edit_exercise_path(@exercise), method: :get, data: { turbo_frame: "general_modal"}, class:"btn btn-primary" %>
                <% end %>
                <%= button_to "Back to exercises", exercises_path, method: :get, class:"btn btn-secondary" %>
            </div>
        </div>
        <br/>
    </div>
</div>
